@import "tailwindcss";

@import "./theme.css";

@layer base {
  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
  }

  body*::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }

  body*::-webkit-scrollbar-track {
    background: transparent !important;
  }
  body*::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background: #c7c6d0 !important;
  }
}
